<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Main Page</h1>
{#<form action=""method="post">#}
{#    {% csrf_token %}#}
{#    <input type="number" name="son" required>#}
<h3>malumotlar soni: {{ b }}</h3>
    <a href="{% url 'data' %}"><input type="submit" value="Create data"></a>
    <a href="{% url 'delete' %}"><input type="submit" value="Delete all"></a>

{#    </form>#}
{#<h1>success</h1>#}
{% for x in a %}
<h2>Ism: {{ x.name }}</h2>
<h2>Familiya: {{ x.last }}</h2>
<h4>Yoshi: {{ x.age }}</h4>
    <p>Tug'ulgan sanasi: {{ x.birth }}</p>
{% endfor %}



</body>
</html>